body{
    background-image: url('../assets/Blackjack.jpg'); !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: -2;

}


main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Titel{
    font-size: 100;
    color: #ffbf00;
    text-decoration: underline;
}
GameStart{
    background-color: #111111;
}

#StartGame {
    position: fixed;
    margin-top: 230px;
    margin-bottom: 120px;
    height: 100vh;
    width: 100%;
    max-width: 80%;
    max-height: calc(100% - 230px - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

}

#StartGame .gleichButton{
    margin-left: ;
}




*{
    font-family: Helvetica;
    box-sizing: border-box;

}

Header {
    position: fixed;
    top: 0px;
    bottom: 85%;
    left: 0px;
    right: 0px;
    background-color: #00541d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    padding-right: 10%;
    z-index: 3;
    border-bottom: 8px solid #f8bb12;

}

#Logo {
    position: fixed;
    top: 3%;
    left: 3%;
    height: 20%;
    aspect-ratio: 982 / 669;
    transform: rotate(-10deg);
}


#Anmelden, .gleichButton {
    padding: 10px;
    width: 20%;
    font-size: 2vw;
    color: #01471a;
    background-color: #f8bb12;
    border-style: solid;
    border-top-color: #e8b62f;
    border-left-color: #e8b62f;
    border-right-color: #e6ac0c;
    border-bottom-color: #e6ac0c;
    border-width: 15px;
    border-radius: 400px;
    transition: all 0.2s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: inline-block;
    text-align: center;
    box-shadow: 15px 15px 10px rgba(0, 0, 0, 0.1);
}
#Anmelden:hover, .gleichButton:hover{
    transform: scale(0.95);
    border-top-color: #d19c08;
    border-left-color: #d19c08;
    border-right-color: #e8b62f;
    border-bottom-color: #e8b62f;
    background-color: #e6ac0c;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
}

.gleichButton {
}

#Kontostand{
    top: 5%;
}

#Guthaben {
    font-size: 4vw;
    top: 5%;
    color: #e6ac0c;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0;
}
#Taler {
    position: fixed;
    top: 5%;
    right: 5%;
    height: 5%;
    aspect-ratio: 1 / 1;
}

.footer {
    position: fixed;
    z-index: 2;
    color: #ffffff;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #00541d;
    transition: transform 0.3s ease-in-out;
    transform: translateY(calc(100% - 97px));
}

.footer:hover {
    transform: translateY(0);
}

.footer:hover .footer-hint {
    opacity: 0;
}

.footer-content{
    padding: 15px;
    max-height: 80vh; /* Begrenzt die maximale Höhe auf 80% der Bildschirmhöhe */
    overflow-y: auto;
}

.footer-hint {
    margin: 0 auto;
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    color: #ffffff;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

#Footer-Title{
    margin-left: 1%;
}

#regelwerk{
	margin-left: 1.5%;
	
}

/*
Listen mit der Spielanleitung
*/

.liste {
    color: #ffffff;
    margin: 5px

}

.a-element{
	margin: 10px
	
}
