
*{
    font-family: Helvetica;
    color: #15471c;
}

.Header {
    position: fixed;
    top: 0px;
    bottom: 85%;
    left: 0px;
    right: 0px;
    background-color: #00541d;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
    color: white;
    padding-right: 10%;

}

#Logo {
    position: fixed;
    top: 3%;
    left: 3%;
    height: 20%;
    aspect-ratio: 982 / 669;
    transform: rotate(-10deg);
}


#Anmelden {
    height: 50%;
    width: 20%;
    font-size: 2vw;
    color: #e6ac0c;
    background-color: transparent;
    border-style: solid;
    border-top-color: #e6ac0c;
    border-left-color: #e6ac0c;
    border-right-color: #f8bb12;
    border-bottom-color: #f8bb12;
    border-width: 15px;
    border-radius: 400px;
    transition: all 0.2s;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}
#Anmelden:hover {
    transform: scale(0.95);
}
#Anmelden.form {
    animation: buttonToSign 10s forwards;
}
#Anmelden .form-container {
    position: absolute;
}
#Anmelden.form .form-container {
    opacity: 1;
    cursor: auto;
    animation: fadeIn 2s 1s forwards;
}
#Anmelden:not(.form) .form-container {
    opacity: 0;
    display: none;
}
#Anmelden:not(.form) .text {
    opacity: 1;
    animation: fadeIn 2s 1s forwards;
    position: absolute;
}
#Anmelden.form .text {
    opacity: 0;
    animation: fadeOut 2s 1s forwards;
}
#Anmelden .text {
    color: #e6ac0c;
    opacity: 1;
}

#Guthaben {
    font-size: 4vw;
    color: #e6ac0c;
}
#Taler {
    position: fixed;
    top: 5%;
    right: 5%;
    height: 5%;
    aspect-ratio: 1 / 1;
}

@keyframes buttonToSign {
    0% {
        background-color: #00541d;
    }
    10% {
        width: 80%;
        height: 60vh;
        transform: translate(10vw, 50vh);
        border-radius: 50px;
        background-color: #00541d;
    }
    100% {
        width: 80%;
        height: 60vh;
        transform: translate(10vw, 50vh);
        border-radius: 50px;
        background-color: #00541d;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;  /* Zu Beginn unsichtbar */
    }
    100% {
        opacity: 1;  /* Am Ende vollständig sichtbar */
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;  /* Zu Beginn unsichtbar */
    }
    100% {
        opacity: 0;  /* Am Ende vollständig sichtbar */
    }
}