RewriteEngine On

RewriteRule ^login$ index.php?login [L,QSA]

RewriteRule ^register$ index.php?register [L,QSA]

RewriteRule ^imprint$ index.php?page=imprint [L,QSA]

RewriteRule ^$ index.php?page=start&no_frame=true [L,QSA]

RewriteRule ^logout$ index.php?page=logout&logout=true [L,QSA]